<mat-card>
  <div class="column-flex" *ngIf="$categories | async as categories">
    <table mat-table [dataSource]="categories">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <mat-header-cell class="action-column-header" *matHeaderCellDef>
          <button mat-icon-button aria-label="Remover Curso" (click)="onAdd()">
            <mat-icon color="primary">add</mat-icon>
          </button>
        </mat-header-cell>
        <mat-cell class="action-column" *matCellDef="let element">

          <button mat-icon-button aria-label="Remover Curso" (click)="onDelete(element.id)">
            <mat-icon color="warn">delete</mat-icon>
          </button>

          <button mat-icon-button aria-label="Editar Curso" (click)="onUpdate()">
            <mat-icon color="primary">edit</mat-icon>
          </button>

        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </table>

    <ng-template #progress>
      <div class="loading-spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>

  </div>
</mat-card>
